.logo {
    margin-left: 40%;
    width: 10%;
    cursor: pointer;
}

.logo_text {
    position: absolute;
    top: 45px;
    font-family: Gotham, serif;
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
}

.input {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 35%;
    max-width: 50%;
    margin-bottom: 15px;
}

.input_label {
    font-family: "Circular Black", serif;
    font-weight: bold;
    font-size: 14px;
}

.input_field {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #3f3f3f;
    outline: none;
    padding: 14px;
    font-size: 1rem;
    font-family: "Circular Book", serif;
}

.day {
    position: absolute;
    top: 10%;
    left: -29%;
}

.month {
    position: absolute;
    top: 10%;
    left: 4%;
}

.month > select {
    height: 60px;
}

.year {
    position: absolute;
    top: 10%;
    left: 42%;
}

.redB {
    border: 1px solid #d31225 !important;
}

.alert_text {
    margin-top: -21px;
    margin-left: 21px;
    font-size: 0.875rem;
    color: #d31225;
    font-family: "Circular Book", serif;
}

.forgot_pass {
    margin-left: 32.8%;
    font-family: "Circular Book", serif;
    cursor: pointer;
}

.forgot_pass:hover {
    text-decoration: underline;
}

.marketing_input {
    margin-left: 32.8%;
}

.marketing_text {
    margin-top: -5px;
    font-family: "Circular Book", serif;
    font-size: 14px;
    color: #3a3a3a;
}

.login_button {
    font-size: 15px;
    font-family: "Circular Black", serif;
    margin-left: 61%;
    margin-top: -300px;
    background-color: transparent;
    background-image: url("../assets/login-button.png");
    background-size: 120px 48px;
    background-repeat: no-repeat;
    width: 120px;
    height: 48px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
}

.login_button:hover {
    transform: scale(1.05);
    background-image: url("../assets/hover-login-button.png");
}

.login_button:disabled {
    transform: scale(1) !important;
    background-image: url("../assets/disabled-login-button.png");
    cursor: not-allowed;
}

.register_button {
    font-size: 15px;
    font-family: "Circular Black", serif;
    margin-left: 46%;
    background-color: transparent;
    background-image: url("../assets/login-button.png");
    background-size: 120px 48px;
    background-repeat: no-repeat;
    width: 120px;
    height: 48px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
}

.register_button:hover {
    transform: scale(1.05);
    background-image: url("../assets/hover-login-button.png");
}

.register_button:disabled {
    transform: scale(1) !important;
    background-image: url("../assets/disabled-login-button.png");
    cursor: not-allowed;
}

.hr_bottom {
    margin-left: 48%;
    transform: translateX(-44%);
    width: 50%;
}


.acc_text {
    font-family: "Circular Black", serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 63.5%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.acc_button {
    color: #6a6a6a;
    font-size: 15px;
    font-family: "Circular Black", serif;
    margin-left: 34.2%;
    transform: translateX(-2%);
    margin-top: 20px;
    background-color: transparent;
    background-image: url("../assets/sign-up-button.png");
    background-size: 450px 48px;
    background-repeat: no-repeat;
    width: 450px;
    height: 48px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
}

.acc_button:hover {
    color: black;
    background-image: url("../assets/hover-sign-up-button.png");
}